# Database Credentials
DB_USER=postgres
DB_PASSWORD=secret_password
DB_NAME=expense_db
DB_PORT=5432

# Prisma Database URL
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"

# App Port
PORT=3000
